<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yongquan.autocall">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:screenOrientation="portrait"
        android:launchMode="singleTask"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tối Ưu Lưu Lượng"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".AddPhone"
            android:label="Thêm số điện thoại"
            android:parentActivityName=".MainActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".SettingActivity"
            android:label="Cài đặt cuộc gọi"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".Receiver.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver.SmsSetting">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver.NotificationDismissedReceiver"
            android:exported="false" >
        </receiver>
        <activity
            android:screenOrientation="portrait"
            android:name=".PassScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>